<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include ../style_fldr/detail_style.css
</head>
<body>
    <div id="detail_container">
         <p id="heading">person detail</p>
         <h2>Name    : <span> #{name}</span></h2>
         <h2>Age     :  <span>#{age}</span> </h2>
         <h2>Gender  :  <span>#{gender}</span> </h2>
         <h2>Address :  <span>#{adress}</span> </h2>
         <h2>More about #{herorhim} :</h2>
         <p>#{moredetail}</p>
    </div>
</body>
</html>